<div class="card">
    <div class="card-inner">
        {{ form_start(form) }}

            {% if form.vars.errors|length > 0 %}
                <div class="alert alert-fill alert-danger alert-icon">
                    {{ icon('cross-circle') }} {{ 'form_contains_error' | trans }}
                </div>
            {% endif %}

            <div class="row g-4">
                <div class="col-lg-11 col-md-8">
                    {{ form_row(form.question) }}
                </div>
            </div>

            <div class="row g-4">
                <div class="col-lg-11 col-md-8">
                    {{ form_row(form.answer) }}
                </div>
            </div>

            <div class="mt-4 text-center">
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-primary">{{ button_label|default('save')|trans }}</button>
                </div>
            </div>
        {{ form_end(form) }}

        {% if action is defined and action == "edit" %}
            {{ include("admin/faq/_delete.html.twig") }}
        {% endif %}
    </div>
</div>
