<a {% for attr, value in options %} {{ attr }}="{{ value }}" {% endfor %}>
	<span>{{ title }}</span>
	{% if sorted %}
		<span style="float: right;">
			{% if direction == 'desc' %}
				{{ icon('arrow-long-up') }}
			{% else %}
				{{ icon('arrow-long-down') }}
			{% endif %}
		</span>
	{% else %}
		<span style="float: right;">
			<em class="icon ni ni-arrow-long-up" style="opacity: 0.3;"></em>
			<em class="icon ni ni-arrow-long-down" style="opacity: 0.3;"></em>
		</span>
	{% endif %}
</a>
