<a
	{% for attr, value in options %} {{ attr }}="{{ value }}" {% endfor %}
		{{ stimulus_action('reload-content', 'refreshContent', 'click', {
			'url' : options.href,
		}) }}
>
	<span>{{ title }}</span>
	{% if sorted %}
		<span style="float: right;">
			{% if direction == 'desc' %}
				{{ icon('upword-alt','fill') }}
			{% else %}
				{{ icon('downward-alt','fill') }}
			{% endif %}
		</span>
	{% endif %}
</a>
