<a href="{{ path(prefix ~ '_create') }}" class="btn btn-icon btn-primary d-md-none">
	{{ icon('plus') }}
</a>
<a href="{{ path(prefix ~ '_create') }}" class="btn btn-primary d-none d-md-inline-flex">
	{{ icon('plus') }}
	<span>{{ 'add'|trans }}</span>
</a>
