{% set editLink = path(prefix ~ '_edit', {id: purchase.id}) %}
{% set showLink = path(prefix ~ '_show', {id: purchase.id}) %}
{% set deleteLink = path(prefix ~ '_delete', {id: purchase.id}) %}
{% set acceptLink = path(prefix ~ '_accept', {id: purchase.id}) %}
{% set rejectLink = path(prefix ~ '_reject', {id: purchase.id}) %}
{% set cancelLink = path(prefix ~ '_cancel', {id: purchase.id}) %}

<div class="nk-tb-item">
	<div class="nk-tb-col nk-tb-col-check">
		<div class="custom-control custom-control-sm custom-checkbox notext">
			<input
					type="checkbox"
					class="custom-control-input purchase-checkbox"
					id="id{{ purchase.id }}"
					value="id{{ purchase.id }}"
					name="purchase"
					data-checkbox-all-target="checkbox"
			>
			<label class="custom-control-label" for="id{{ purchase.id }}"></label>
		</div>
	</div>
	<div class="nk-tb-col">
		<span class="tb-lead"><a href="{{ showLink }}">#{{ purchase.orderNumber }}</a></span>
	</div>
	<div class="nk-tb-col tb-col-md">
		<span class="tb-sub">{{ purchase.createdAt | format_date }}</span>
	</div>
	<div class="nk-tb-col">
		<span class="dot bg-warning d-sm-none"></span>
		<span class="badge badge-sm badge-dot has-bg bg-{{ purchase.statusBadge }} d-none d-sm-inline-flex">{{ purchase.statusString }}</span>
	</div>
	<div class="nk-tb-col tb-col-sm">
		<span class="tb-sub">{{ purchase.customer }}</span>
	</div>
	<div class="nk-tb-col tb-col-md">
		<span class="tb-sub text-primary">{{ purchase.shortLabel }}</span>
	</div>
	<div class="nk-tb-col">
		<span class="tb-lead">{{ purchase.total | format_currency('XOF', locale='fr') }}</span>
	</div>
	<div class="nk-tb-col nk-tb-col-tools">
		<ul class="nk-tb-actions gx-1">
			<li class="nk-tb-action-hidden">
				<a href="{{ showLink }}" class="btn btn-icon btn-trigger btn-tooltip" title="{{ 'view_order'|trans }}" data-bs-toggle="dropdown">
					{{ icon('eye') }}
				</a>
			</li>
			<li>
				<div class="dropdown me-n1">
					<a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
					<div class="dropdown-menu dropdown-menu-end">
						<ul class="link-list-opt no-bdr">
							<li>
								<a href="{{ showLink }}">{{ icon('eye') }}<span>{{ 'order_details'|trans }}</span></a>
							</li>
							{% if purchase.status == 1 and not purchase.confirmed %}
								<li>
									<a class="purchase-accept" href="#" data-url="{{ acceptLink }}">
										{{ icon('check-circle') }}<span>{{ 'accept_order'|trans }}</span>
									</a>
								</li>
								<li>
									<a class="purchase-reject" href="#" data-url="{{ rejectLink }}">{{ icon('na') }}<span>{{ 'reject_order'|trans }}</span></a>
								</li>
							{% elseif purchase.status == constant('App\\Application\\Purchase\\Purchase::STATES')[1] and purchase.confirmed %}
								<li>
									<a href="{{ cancelLink }}">{{ icon('stop') }}<span>{{ 'cancel_order'|trans }}</span></a>
								</li>
							{% endif %}
						</ul>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
