<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui"/>
		<link rel="shortcut icon" href="./images/favicon.png">
		<title>{% apply striptags %}{% block title '' %}{% endapply %} | LuxDec Admin</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('admin') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('admin') }}
		{% endblock %}
		<link rel="stylesheet" href="/print.css" media="print">
		<meta name="turbolinks-cache-control" content="no-cache"/>
	</head>

	<body class="nk-body bg-lighter npc-general has-sidebar {{ app.user and app.user.theme ? app.user.theme ~ '-mode' : '' }}">
		<div class="nk-app-root">
			<div class="nk-main ">
				<div class="nk-sidebar nk-sidebar-fixed is-light" data-content="sidebarMenu">
					<div class="nk-sidebar-element nk-sidebar-head">
						<div class="nk-sidebar-brand">
							<a href="html/index.html" class="logo-link nk-sidebar-logo">
								<img class="logo-light logo-img" src="./images/logo.png" srcset="./images/logo2x.png 2x" alt="logo">
								<img class="logo-dark logo-img" src="./images/logo-dark.png" srcset="./images/logo-dark2x.png 2x" alt="logo-dark">
								<img class="logo-small logo-img logo-img-small" src="./images/logo-small.png" srcset="./images/logo-small2x.png 2x" alt="logo-small">
							</a>
						</div>
						<div class="nk-menu-trigger me-n2">
							<a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="icon ni ni-arrow-left"></em></a>
							<a href="#" class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
						</div>
					</div>

					<div class="nk-sidebar-element">
						<div class="nk-sidebar-content">
							<div class="nk-sidebar-menu" data-simplebar>
								<ul class="nk-menu">
									<li class="nk-menu-item {{ menu_active('home') }}">
										<a href="{{ path('app_test') }}" class="nk-menu-link">
											<span class="nk-menu-icon">{{ icon('dashboard', 'fill') }}</span>
											<span class="nk-menu-text">{{ 'dashboard'|trans }}</span>
										</a>
									</li>
									<li class="nk-menu-item {{ menu_active('product') }}">
										<a href="{{ path('admin_product_index') }}" class="nk-menu-link">
											<span class="nk-menu-icon">{{ icon('package', 'fill') }}</span>
											<span class="nk-menu-text">{{ 'products'|trans }}</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="nk-wrap ">
					<div class="nk-header nk-header-fixed is-light">
						<div class="container-fluid">
							<div class="nk-header-wrap">
								<div class="nk-menu-trigger d-xl-none ms-n1">
									<a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
								</div>
								<div class="nk-header-brand d-xl-none">
									<a href="html/index.html" class="logo-link">
										<img class="logo-light logo-img" src="./images/logo.png" srcset="./images/logo2x.png 2x" alt="logo">
										<img class="logo-dark logo-img" src="./images/logo-dark.png" srcset="./images/logo-dark2x.png 2x" alt="logo-dark">
									</a>
								</div>

								{% if searchable is defined and searchable %}
									<form class="nk-header-search ms-3 ms-xl-0">
										{{ icon('search') }}
										<input
												type="text"
												name="q"
												class="form-control border-transparent form-focus-none"
												placeholder="Rechercher globalement"
												value="{{ app.request.get('q') }}"
										>
									</form>
								{% else %}
									<div class="nk-header-search ms-3 ms-xl-0"></div>
								{% endif %}
								<div class="nk-header-tools">
									<ul class="nk-quick-nav">
										{% if app.user and is_granted('ROLE_ADMIN') %}
											<li class="dropdown user-dropdown">
												<a href="#" class="dropdown-toggle me-n1" data-bs-toggle="dropdown">
													<div class="user-toggle">
														<div class="user-avatar sm">
															{{ icon('user', 'alt') }}
														</div>
														<div class="user-info d-none d-xl-block">
															<div class="user-status user-status-active">{{ app.user.roleIdentifier }}</div>
															<div class="user-name dropdown-indicator">{{ app.user.username }}</div>
														</div>
													</div>
												</a>
												<div class="dropdown-menu dropdown-menu-md dropdown-menu-end">
													<div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
														<div class="user-card">
															<div class="user-avatar">
																<span>{{ app.user.initials }}</span>
															</div>
															<div class="user-info">
																<span class="lead-text">{{ app.user.username }}</span>
																<span class="sub-text">{{ app.user.email }}</span>
															</div>
														</div>
													</div>
													<div class="dropdown-inner">
														<ul class="link-list">
															<li><a href="{{ path('app_test') }}">{{ icon('user', 'alt') }}<span>View Profile</span></a></li>
															<li><a href="{{ path('app_test') }}">{{ icon('setting', 'alt') }}<span>Account Setting</span></a></li>
															<li><a href="{{ path('app_test') }}">{{ icon('activity', 'alt') }}<span>Login Activity</span></a></li>
															<li><a {{ stimulus_controller('theme-switcher') }} class="" href="#">{{ icon('moon') }}<span>Dark Mode</span></a></li>
														</ul>
													</div>
													<div class="dropdown-inner">
														<ul class="link-list">
															<li><a href="{{ path('app_test') }}">{{ icon('signout') }}<span>Sign out</span></a></li>
														</ul>
													</div>
												</div>
											</li>
										{% endif %}
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="nk-content ">
						{% block body '' %}
					</div>

					<div class="nk-footer">
						<div class="container-fluid">
							<div class="nk-footer-wrap">
								<div class="nk-footer-copyright"> &copy; 2022 DashLite. Template by <a href="https://softnio.com" target="_blank">Softnio</a>
								</div>
								<div class="nk-footer-links">
									<ul class="nav nav-sm">
										<li class="nav-item dropup">
											<a href="#" class="dropdown-toggle dropdown-indicator has-indicator nav-link text-base" data-bs-toggle="dropdown" data-offset="0,10"><span>English</span></a>
											<div class="dropdown-menu dropdown-menu-sm dropdown-menu-end">
												<ul class="language-list">
													<li>
														<a href="#" class="language-item">
															<span class="language-name">English</span>
														</a>
													</li>
													<li>
														<a href="#" class="language-item">
															<span class="language-name">Español</span>
														</a>
													</li>
													<li>
														<a href="#" class="language-item">
															<span class="language-name">Français</span>
														</a>
													</li>
													<li>
														<a href="#" class="language-item">
															<span class="language-name">Türkçe</span>
														</a>
													</li>
												</ul>
											</div>
										</li>
										<li class="nav-item">
											<a data-bs-toggle="modal" href="#region" class="nav-link"><em class="icon ni ni-globe"></em><span class="ms-1">Select Region</span></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		{% include 'partials/flash.html.twig' with {floating: true, duration: 2} %}
		<script>
			window.luxdev = {
				...(window.luxdev || {}),
				ADMIN: {{ is_granted('ROLE_ADMIN') ? 'true' : false }},
				USER: {{ app.user ? app.user.id : 'null' }},
			};
		</script>
	</body>

</html>
