<div class="nk-sidebar-content">
	<div class="nk-sidebar-menu" data-simplebar>
		<ul class="nk-menu">
			<li class="nk-menu-item {{ menu_active('home') }}">
				<a href="" class="nk-menu-link">
					<span class="nk-menu-icon">{{ icon('dashboard', 'fill') }}</span>
					<span class="nk-menu-text">{{ 'dashboard'|trans }}</span>
				</a>
			</li>
			<li class="nk-menu-heading">
				<h6 class="overline-title text-primary-alt">{{ 'selling_management' | trans }}</h6>
			</li>
			<li class="nk-menu-item {{ menu_active('product') }}">
				<a href="{{ path('admin_product_index') }}" class="nk-menu-link" title="{{ 'products'|trans }}">
					<span class="nk-menu-icon">{{ icon('package', 'fill') }}</span>
					<span class="nk-menu-text">{{ 'products'|trans }}</span>
				</a>
			</li>
			<li class="nk-menu-item has-sub {{ menu_active('purchase') }}">
				<a href="#" class="nk-menu-link nk-menu-toggle" title="">
					<span class="nk-menu-icon">{{ icon('bag', 'fill') }}</span>
					<span class="nk-menu-text">{{ 'purchase'|trans }}</span>
				</a>
				<ul class="nk-menu-sub">
					{% set statut_in_progress = constant('App\\Application\\Purchase\\Purchase::STATES')[1] %}
					{% set statut_done = constant('App\\Application\\Purchase\\Purchase::STATES')[2] %}
					{% set statut_canceled = constant('App\\Application\\Purchase\\Purchase::STATES')[3] %}
					<li class="nk-menu-item {{ status is defined and status == statut_in_progress ? menu_active('purchase') : "" }}">
						<a href="{{ path('admin_purchase_index', { status: statut_in_progress }) }}" class="nk-menu-link" title="{{ 'purchase.manage'|trans }}">
							<span class="nk-menu-text">{{ 'purchase.in_progress'|trans }}</span>
						</a>
					</li>
					<li class="nk-menu-item {{ status is defined and status == statut_done ? menu_active('purchase') : "" }}">
						<a href="{{ path('admin_purchase_index', { status: statut_done }) }}" class="nk-menu-link" title="{{ 'purchase.manage'|trans }}">
							<span class="nk-menu-text">{{ 'purchase.done'|trans }}</span>
						</a>
					</li>
					<li class="nk-menu-item {{ status is defined and status == statut_canceled ? menu_active('purchase') : "" }}">
						<a href="{{ path('admin_purchase_index', { status: statut_canceled }) }}" class="nk-menu-link" title="{{ 'purchase.manage'|trans }}">
							<span class="nk-menu-text">{{ 'purchase.canceled'|trans }}</span>
						</a>
					</li>
					<li class="nk-menu-item {{ status is defined and status == "not_confirmed" ? menu_active('purchase') : "" }}">
						<a href="{{ path('admin_purchase_index', { status: "not_confirmed" }) }}" class="nk-menu-link" title="{{ 'purchase.manage'|trans }}">
							<span class="nk-menu-text">{{ 'purchase.rejected'|trans }}</span>
						</a>
					</li>
					<li class="nk-menu-item {{ status is defined and status == "all" ? menu_active('purchase') : "" }}">
						<a href="{{ path('admin_purchase_index', { status: "all" }) }}" class="nk-menu-link" title="{{ 'purchase.manage'|trans }}">
							<span class="nk-menu-text">{{ 'purchase.all'|trans }}</span>
						</a>
					</li>
				</ul>
			</li>
			<li class="nk-menu-item {{ menu_active('promotion') }}">
				<a href="{{ path('admin_promotion_index') }}" class="nk-menu-link" title="{{ 'promotions'|trans }}">
					<span class="nk-menu-icon">{{ icon('percent') }}</span>
					<span class="nk-menu-text">{{ 'promotions'|trans }}</span>
				</a>
			</li>
			<li class="nk-menu-item has-sub {{ menu_active('category') }}">
				<a href="#" class="nk-menu-link nk-menu-toggle" title="">
					<span class="nk-menu-icon">{{ icon('puzzle', 'fill') }}</span>
					<span class="nk-menu-text">{{ 'others'|trans }}</span>
				</a>
				<ul class="nk-menu-sub">
					<li class="nk-menu-item {{ menu_active('category') }}   ">
						<a href="{{ path('admin_category_index') }}" class="nk-menu-link" title="{{ 'categories.manage'|trans }}">
							<span class="nk-menu-text">{{ 'categories'|trans }}</span>
						</a>
					</li>
				</ul>
			</li>

			<li class="nk-menu-heading">
				<h6 class="overline-title text-primary-alt">{{ 'site_management' | trans }}</h6>
			</li>

			<li class="nk-menu-item has-sub {{ menu_active('social_clients') }}">
				<a href="" class="nk-menu-link nk-menu-toggle" title="">
					<span class="nk-menu-icon">{{ icon('opt-dot') }}</span>
					<span class="nk-menu-text">{{ 'settings'|trans }}</span>
				</a>
				<ul class="nk-menu-sub">
					<li class="nk-menu-item {{ menu_active('slider') }}">
						<a href="" class="nk-menu-link">
							<span class="nk-menu-icon">{{ icon('movie') }}</span>
							<span class="nk-menu-text">{{ 'sliders'|trans }}</span>
						</a>
					</li>
					<li class="nk-menu-item {{ menu_active('social_client') }}">
						<a href="{{ path('admin_social_links_client') }}" class="nk-menu-link">
							<span class="nk-menu-icon">{{ icon('share', 'fill') }}</span>
							<span class="nk-menu-text">{{ 'social_links'|trans }}</span>
						</a>
					</li>
				</ul>
			</li>

			<li class="nk-menu-heading">
				<h6 class="overline-title text-primary-alt">{{ 'developer' | trans }}</h6>
			</li>

			<li class="nk-menu-item has-sub {{ menu_active('social') }}">
				<a href="" class="nk-menu-link nk-menu-toggle" title="">
					<span class="nk-menu-icon">{{ icon('opt-dot') }}</span>
					<span class="nk-menu-text">{{ 'settings'|trans }}</span>
				</a>
				<ul class="nk-menu-sub">
					<li class="nk-menu-item {{ menu_active('social') }}">
						<a href="{{ path('admin_social_links_index') }}" class="nk-menu-link">
							<span class="nk-menu-icon">{{ icon('share', 'fill') }}</span>
							<span class="nk-menu-text">{{ 'social_links'|trans }}</span>
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
