{% extends 'admin/base.html.twig' %}

{% block body %}
	<div class="container-fluid">
		<div class="nk-content-inner">
			<div class="nk-content-body">
				<div class="nk-block-head nk-block-head-sm">
					<div class="nk-block-between">
						<div class="nk-block-head-content">
							<h3 class="nk-block-title page-title">
								{% block dashboardTitle '' %}
							</h3>
						</div>

						<div class="nk-block-head-content">
							<ul class="nk-block-tools g-3">
								<li class="nk-block-tools-opt hidden" id="massive-delete-button">
									<form action="{{ path(prefix ~ '_massive_delete') }}" class="d-inline-block" method="post" {{ stimulus_controller('massive-delete') }}>
										<input type="hidden" name="token" value="{{ csrf_token('massive-delete') }}" />
										<button type="submit" class="btn btn-icon btn-danger d-md-none">
											{{ icon('trash') }}
										</button>
										<button type="submit" class="btn btn-danger d-none d-md-inline-flex">
											{{ icon('trash') }} {{ 'delete'|trans }}
										</button>
									</form>
								</li>
							</ul>
						</div>

						<div class="nk-block-head-content">
							<div class="toggle-wrap nk-block-tools-toggle">
								<a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
								<div class="toggle-expand-content" data-content="pageMenu">
									<ul class="nk-block-tools g-3">
										<li>
											<div class="form-control-wrap">
												<div class="form-icon form-icon-right">
													{{ icon('search') }}
												</div>
												<input type="text" class="form-control" id="default-04" placeholder="Quick search by id">
											</div>
										</li>
											{% block actions %}{% endblock %}
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				{% block content ''%}
			</div>
		</div>
	</div>
{% endblock %}
