<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title 'LuxDec' %} | LuxDec</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block stylesheets %}
            {{ encore_entry_link_tags('base') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('base') }}
        {% endblock %}
        <meta name="turbolinks-cache-control" content="no-cache"/>
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
        {% block meta '' %}
        <meta property="og:title" content="{{ block('title') }}"/>
        <meta property="og:site_name" content="luxdec.bj"/>
        <meta property="og:language" content="{{ app.request.locale }}"/>
        <meta name="twitter:author" content="@luxdev.bj"/>
        <link rel="stylesheet" href="/print.css" media="print">
    </head>

    <body class="">

        <div id="preloader">
            <div id="ctn-preloader" class="ctn-preloader">
                <div class="animation-preloader">
                    <div class="spinner"></div>
                    <div class="txt-loading">
                    <span data-text-preloader="L" class="letters-loading">
                        L
                    </span>

                        <span data-text-preloader="O" class="letters-loading">
                        O
                    </span>

                        <span data-text-preloader="A" class="letters-loading">
                        A
                    </span>

                        <span data-text-preloader="D" class="letters-loading">
                        D
                    </span>

                        <span data-text-preloader="I" class="letters-loading">
                        I
                    </span>

                        <span data-text-preloader="N" class="letters-loading">
                        N
                    </span>

                        <span data-text-preloader="G" class="letters-loading">
                        G
                    </span>
                    </div>
                </div>
                <div class="loader-section section-left"></div>
                <div class="loader-section section-right"></div>
            </div>
        </div>

        <header class="header__section">
            {% include 'layouts/header_parts/_header_desktop.html.twig' %}

            {% include 'layouts/header_parts/_header_mobile_sidebar.html.twig' %}

            {% include 'layouts/header_parts/_navbar_mobile.html.twig' %}

            {% block cart_summary %}
                {% if cart is defined %}
                    <div class="offCanvas__minicart">
                        {% include 'shop/cart/cart_summary.html.twig' with {cart:cart} %}
                    </div>
                {% endif %}
            {% endblock %}

            {% include 'layouts/header_parts/_searchbox.html.twig' %}

        </header>

        <main class="main__content_wrapper">
            {% block body %}{% endblock %}
        </main>

        <footer class="footer__section footer__bg">
            {% include 'layouts/footer_parts/_links.html.twig' %}
            {% include 'layouts/footer_parts/_copyright.html.twig' %}
        </footer>


        {% include 'layouts/_scroll_to_top.html.twig' %}
    </body>
</html>
