<form
		method="post"
		class="delete-form"
		data-confirmation="true"
		id="delete-form#{{ product.id }}"
		action="{{ path(prefix ~ '_delete', {id: product.id}) }}"
>
	<input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
	<button type="submit" class="btn btn-danger">
		{{ icon('trash') }}
		<span>{{ 'remove'|trans }}</span>
	</button>
</form>
