<div
		class="nk-block"
		data-action="submit-confirm:async:submitted->reload-content#refreshContent"
		{{ stimulus_target('reload-content', 'content') }}
>
	<div class="card">
		<div class="card-inner-group">
			<div class="card-inner p-0">
				<div
						class="nk-tb-list mb-3"
				>
					<div class="nk-tb-item nk-tb-head">
						<div class="nk-tb-col nk-tb-col-check">
							<div class="custom-control custom-control-sm custom-checkbox notext">
								<input type="checkbox" class="custom-control-input" id="massiveCheck" {{ stimulus_target('checkbox-all', 'selectAll') }}>
								<label class="custom-control-label" for="massiveCheck"></label>
							</div>
						</div>
						<div class="nk-tb-col{{ sorted(rows, 'row.name') ? ' focus' : '' }} text-center">
							{{ sort_by(rows, 'Name'|trans, 'row.name') }}
						</div>
						<div class="nk-tb-col{{ sorted(rows, 'row.fixedPrice') ? ' focus' : '' }} text-center">
							{{ sort_by(rows, 'fixed.price'|trans, 'row.fixedPrice') }}
						</div>
						<div class="nk-tb-col{{ sorted(rows, 'row.stockQuantity') ? ' focus' : '' }} text-center">
							{{ sort_by(rows, 'Stock'|trans, 'row.stockQuantity') }}
						</div>
						<div class="nk-tb-col tb-col-md text-center">{{ icon('star', 'round', 'tb-asterisk') }}</div>
						<div class="nk-tb-col nk-tb-col-tools text-center">{{ 'actions'|trans }}</div>
					</div>

					{% for product in rows %}
						{{ include('admin/product/_row.html.twig', { product: product }) }}
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="card-inner">
			<div class="nk-block-between-md g-3">
				<div class="g">
					{{ paginate(rows) }}
				</div>
				<div class="g">
					<div class="pagination-goto d-flex justify-content-center justify-content-md-start gx-3">
						{{ 'products.total' }} : {{ rows|length }}
					</div>
				</div>
			</div>
		</div>

		<form
				method="post"
				class="action-form"
				id=""
				data-controller="delete-form submit-confirm"
				data-submit-confirm-title-value="{{ 'delete_warning_title'|trans }}"
				data-submit-confirm-text-value="{{ 'delete_warning_text'|trans }}"
				data-submit-confirm-icon-value="{{ 'warning' }}"
				data-submit-confirm-confirm-button-text-value="{{ 'delete.label'|trans }}"
				data-submit-confirm-cancel-value="{{ 'cancel'|trans }}"
				data-submit-confirm-async-submit-value="{{ true }}"
				data-action-form-trigger-value="product-delete"
				{{ stimulus_action('submit-confirm', 'onSubmit', 'submit') }}
		>
			<input type="hidden" name="token" value="{{ csrf_token('delete') }}"/>
		</form>
	</div>
</div>
