{% extends 'admin/layout/_squeleton_new.html.twig' %}

{% block formTitle %}
	<h2 class="nk-block-title fw-normal">{{ 'product.edit' | trans }}</h2>
	<div class="nk-block-des">
		<p class="lead">{{ 'global_form_help' | trans }}</p>
	</div>
{% endblock %}

{% block title 'product.edit'|trans %}

{% block form %}
	{% include 'admin/product/_form.html.twig' with {
		'form' : form,
		'action' : 'edit',
		'button_label' : 'update'
	} %}
	{% include 'admin/layout/_delete_confirmation.html.twig' %}
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('editor') }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('editor') }}
{% endblock %}

