<div
	class="toggle-expand-content"
	data-content="pageMenu"
>
	<ul class="nk-block-tools g-3">
		<li>
			<div class="dropdown">
				<a href="#" class="dropdown-toggle btn btn-white btn-dim btn-outline-light" data-bs-toggle="dropdown"><em class="d-none d-sm-inline icon ni ni-filter-alt"></em><span>Filtered By</span><em class="dd-indc icon ni ni-chevron-right"></em></a>
				<div class="dropdown-menu dropdown-menu-end">
					<ul class="link-list-opt no-bdr">
						<li><a href="#"><span>Open</span></a></li>
						<li><a href="#"><span>Closed</span></a></li>
						<li><a href="#"><span>Onhold</span></a></li>
					</ul>
				</div>
			</div>
		</li>
		<li class="nk-block-tools-opt">
			<a href="{{ path(prefix ~ '_create') }}" class="btn btn-icon btn-primary d-md-none">{{ icon('plus') }}</a>
			<a href="{{ path(prefix ~ '_create') }}" class="btn btn-primary d-none d-md-inline-flex">{{ icon('plus') }}<span>{{ 'add'|trans }}</span></a>
		</li>
	</ul>
</div>
